body{
    text-align: center;
    font-size: 14px;
    background-color: hsl(218, 28%, 13%);
    margin:0;
    padding:0;
    font-family:"Open Sans";
    color:#ffffff;
}

.headings{
    font-weight: 400,700;
}

#box{
    background-color: aqua;
    width:;
    height:50px;
    text-align: center;
    border-radius: 25px;
}

.div{
    margin:100px;
}

.footer{
    background-color:hsl(216, 53%, 9%)
}

a{
    text-decoration: none;
}

#a{
    color:aqua;
    border-bottom: 20px;
    border-bottom-color: aqua;;
}

.input{
    background-color: aqua;
    text-align: center;
    height:30px;
    border-radius:15px;
    color:#ffffff;
}

.comments{
   background-color: hsl(219,30%, 18%);
   margin:30px;
}

.inputs{
    text-align:center;
    border-radius:20px;
    height:40px;
    display:block;
}

#started{
    background-color: aqua;
    margin:10px;
    margin-left: 0;
    margin-bottom:30px;
}

#email{
    background-color: #ffffff;
    
}

#earlyaccess{
    margin-bottom:50px;
    background:linear-gradient(top, hsl(176,68%,64%) , hsk(198, 60%, 50%))
}

.ceo{
   display:flex;
   justify-content: center;
}

.ceos{
    width:30px;
    height:30px;
    border-radius:15px;
    margin-left: 10px;
}

.ceo h3{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.ceo p{
    font-size: 11px;
    margin-top:0px;
}


   

#email{
    background-color:#fff;
    color:#000;
    width:300px;
    height:50px;
    border-radius:40px;
    margin:10px;
    text-align:center;
}
#get{
    background-color: aqua;
align-self: center;
width:300px;
height:50px;
border-radius:40px;
margin:10px;
text-align:center;
}
.earlyaccess{
    display:flex;
    flex-flow:column;
    min-width:960px;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color: #333;
    margin:20px;
}

.ole{
    display:flex;
    justify-content:center;
    align-items:center;
}



.ceo div{text-align: justify;}

/*nav decor*/
nav{
    display:flex;
    justify-content: space-between;
    position:relative;
}
a{
    text-decoration: none;}
nav ul{
list-style-type: none;
color:#fff;
display:flex;
width:960;}
nav a{
    color:#fff;
    display:block;
}
nav li{
    min-width:320px;
    margin:0;
    margin:0px 10px;
}
li a{
    justify-content: end;
    align-items: center;
}
a:hover{
    background-color: #555;
}